/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #13131a; /* Dark theme background */
  color: #ffffff; /* Default text color */
}

/* Improved Gradient */
.linear-gradient {
  background: linear-gradient(
    180deg,
    rgba(32, 18, 63, 0.1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Date Picker */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.85);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

/* "Add Column" Button */
.add-column-button {
  background-color: #1e1e1e; /* Match dark theme */
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.add-column-button:hover {
  background-color: #292929; /* Slightly lighter on hover */
}